# ================= DATA =================
/audio/
/audio_convert/
/data/
/data_final/
/metadata/
/separated/
/SORTED/
/DATASET_LABELED/

# ================= PYTHON =================
__pycache__/
*.pyc

# ================= MODEL / CHECKPOINT =================
*.pt
*.pth
*.ckpt
*.safetensors
TrainModel/emotion_model.keras
TrainModel/train.ipynb
TrainModel/train_v3_improved .ipynb
TrainModel/train_v2_improved_colab.ipynb

# ================= TRAINING ARTIFACTS =================
TrainModel/whisper_ser_checkpoint/
TrainModel/whisper_ser_checkpoint_v2/
TrainModel/**/runs/
events.out.tfevents*


