# ================= DATA =================
/audio/
/audio_convert/
/data/
/data_final/
/metadata/
/separated/
/SORTED/
/DATASET_LABELED/

# ================= PYTHON =================
__pycache__/
*.pyc

# ================= MODEL / CHECKPOINT =================
*.pt
*.pth
*.ckpt
*.safetensors
TrainModel/emotion_model.keras
TrainModel/train.ipynb
TrainModel/train_v3_improved .ipynb
TrainModel/train_v2_improved_colab.ipynb

# ================= TRAINING ARTIFACTS =================
TrainModel/whisper_ser_checkpoint/
TrainModel/whisper_ser_checkpoint_v2/
TrainModel/**/runs/
TrainModel/wavlm_results/
TrainModel/saved_wavlm_emotion_model/
TrainModel/ecapa_finetune_results/
TrainModel/ecapa_finetune_results_v2/
TrainModel/saved_wavlm_emotion_model/
TrainModel/saved_wavlm_emotion_model_v2/
n8n-custom/wav2vec2_checkpoints/
n8n-custom/saved_wavlm_emotion_model/
n8n-custom/data
events.out.tfevents*
TrainModel/trainv1
TrainModel/model
TrainModel/scaler.pkl
TrainModel/best_model.keras
TrainModel/emotion_model.keras
TrainModel/output_optimized/
# ================= OTHERS =================
pre_processing/www.youtube.com_*.txt
pre_processing/youtube_cookies.txt
