torch
torchaudio
tensorflow
numpy<2.0.0

pandas
scikit-learn
librosa
demucs
imageio-ffmpeg
modelscope
datasets==2.18.0
matplotlib
pydub
jupyter
ipykernel
transformers
accelerate
soundfile
evaluate
safetensors
